In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame({'color': ['red', 'blue', 'black'], 'density': [2, 8, 9]})

   color  density
0    red        2
1   blue        8
2  black        9

In [7]:
df = pd.DataFrame(
    zip(
        ['Tom', 'Krish', 'Nick'],
        [25, 36, 8]
    ),
    columns=['Name', 'Age'],
    index=['r1', 'r2', 'r3']
)
df

     Name  Age
r1    Tom   25
r2  Krish   36
r3   Nick    8

# Pandas vs Numpy

In [5]:
np.array([1, 5, 9, 87])

array([ 1,  5,  9, 87])

In [9]:
df.Name

r1      Tom
r2    Krish
r3     Nick
Name: Name, dtype: object

# Read a local file

In [14]:
df = pd.read_excel('covid-data.xlsx', engine="openpyxl")
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-11-12,12,11,2020,146,4,Afghanistan,AF,AFG,38041757.0,Asia,3.848403
1,2020-11-11,11,11,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,3.464614
2,2020-11-10,10,11,2020,224,12,Afghanistan,AF,AFG,38041757.0,Asia,3.761656
3,2020-11-09,9,11,2020,80,3,Afghanistan,AF,AFG,38041757.0,Asia,3.695939
4,2020-11-08,8,11,2020,126,6,Afghanistan,AF,AFG,38041757.0,Asia,3.656508
...,...,...,...,...,...,...,...,...,...,...,...,...
55078,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
55079,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
55080,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
55081,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
55082,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [15]:
df.shape

(55083, 12)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55083 entries, 0 to 55082
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     55083 non-null  datetime64[ns]
 1   day                                                         55083 non-null  int64
 2   month                                                       55083 non-null  int64
 3   year                                                        55083 non-null  int64
 4   cases                                                       55083 non-null  int64
 5   deaths                                                      55083 non-null  int64
 6   countriesAndTerritories                                     55083 non-null  object
 7   geoId                                                       54840 non-null  object
 8   countryterritoryCode                                        54992 non-null  object
 9   popData2019                                                 54992 non-null  float64
 10  continentExp                                                55083 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  52247 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 5.0+ MB

# Columns, Indices

In [20]:
df.countriesAndTerritories  == df['countriesAndTerritories']

0        True
1        True
2        True
3        True
4        True
         ...
55078    True
55079    True
55080    True
55081    True
55082    True
Name: countriesAndTerritories, Length: 55083, dtype: bool

In [23]:
df_ir = df[df['countriesAndTerritories'] == 'Iran']
df_ir.tail(4)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24775,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24776,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24777,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24778,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN

In [28]:
df_ir.loc[24775:24777, ]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24775,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24776,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24777,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN

In [29]:
df.iloc[:5, 1:4]

   day  month  year
0   12     11  2020
1   11     11  2020
2   10     11  2020
3    9     11  2020
4    8     11  2020

# Boolean Indexing vs Where

In [30]:
df_ir[df_ir.cases > 3000]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24461,2020-11-12,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063
...,...,...,...,...,...,...,...,...,...,...,...,...
24623,2020-06-03,3,6,2020,3117,64,Iran,IR,IRN,82913893.0,Asia,39.750877
24682,2020-04-05,5,4,2020,5275,292,Iran,IR,IRN,82913893.0,Asia,42.372875
24686,2020-04-01,1,4,2020,3111,141,Iran,IR,IRN,82913893.0,Asia,34.297027
24687,2020-03-31,31,3,2020,3186,117,Iran,IR,IRN,82913893.0,Asia,31.965692
24689,2020-03-29,29,3,2020,3076,139,Iran,IR,IRN,82913893.0,Asia,27.352473

In [38]:
df_ir.where(df_ir.cases > 3000, other=0)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24461,2020-11-12 00:00:00,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11 00:00:00,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10 00:00:00,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09 00:00:00,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08 00:00:00,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063
...,...,...,...,...,...,...,...,...,...,...,...,...
24774,0,0,0,0,0,0,0,0,0,0.0,0,0.000000
24775,0,0,0,0,0,0,0,0,0,0.0,0,0.000000
24776,0,0,0,0,0,0,0,0,0,0.0,0,0.000000
24777,0,0,0,0,0,0,0,0,0,0.0,0,0.000000
24778,0,0,0,0,0,0,0,0,0,0.0,0,0.000000

# Add new column

In [48]:
df_ir['ratio'] = df_ir.deaths / df_ir.cases
df_ir

<ipython-input-48-37d0d449f087>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ir['ratio'] = df_ir.deaths / df_ir.cases

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,ratio
24461,2020-11-12,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432,0.039219
24462,2020-11-11,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147,0.043815
24463,2020-11-10,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483,0.043773
24464,2020-11-09,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548,0.049697
24465,2020-11-08,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063,0.044762
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24774,2020-01-04,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24775,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24776,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24777,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24778,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN

In [49]:
df_ir.insert(1, 'ratio_percent', df_ir.ratio*100)  # loc, name, value
df_ir

,dateRep,ratio_percent,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,ratio
24461,2020-11-12,3.921902,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432,0.039219
24462,2020-11-11,4.381468,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147,0.043815
24463,2020-11-10,4.377330,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483,0.043773
24464,2020-11-09,4.969684,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548,0.049697
24465,2020-11-08,4.476190,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063,0.044762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24774,2020-01-04,NaN,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24775,2020-01-03,NaN,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24776,2020-01-02,NaN,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24777,2020-01-01,NaN,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN
24778,2019-12-31,NaN,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN,NaN

In [50]:
df_ir.drop(['ratio_percent', 'ratio'], axis=1, inplace=True)
df_ir

/home/fooladgar/w/uni-temp/ut-data-analysis-course/.env/lib/python3.8/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
24461,2020-11-12,12,11,2020,11780,462,Iran,IR,IRN,82913893.0,Asia,152.471432
24462,2020-11-11,11,11,2020,10339,453,Iran,IR,IRN,82913893.0,Asia,146.494147
24463,2020-11-10,10,11,2020,10463,458,Iran,IR,IRN,82913893.0,Asia,142.428483
24464,2020-11-09,9,11,2020,9236,459,Iran,IR,IRN,82913893.0,Asia,136.997548
24465,2020-11-08,8,11,2020,9450,423,Iran,IR,IRN,82913893.0,Asia,133.325063
...,...,...,...,...,...,...,...,...,...,...,...,...
24774,2020-01-04,4,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24775,2020-01-03,3,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24776,2020-01-02,2,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24777,2020-01-01,1,1,2020,0,0,Iran,IR,IRN,82913893.0,Asia,NaN
24778,2019-12-31,31,12,2019,0,0,Iran,IR,IRN,82913893.0,Asia,NaN